<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <label for="currency">Waluta podstawowa:</label>
      <select class="form-control " id="currency" (change)="chooseCurrency($event)">
        <option *ngFor="let currency of currencies; " value={{currency.symbol}} >{{currency.symbol}} - {{currency.name}}</option>
      </select>
    </div>
    <div class="col-md-4 col-sm-12">
      <label for="currency2">Waluta 2 :</label>
      <select class="form-control" id="currency2" (change)="chooseCurrency2($event)">
        <option *ngFor="let currency of currencies; " value={{currency.symbol}} >{{currency.symbol}} - {{currency.name}}</option>
      </select>
    </div>
    <div class="col-md-4 col-sm-12">
      <label for="currency3">Waluta 3 :</label>
      <select class="form-control" id="currency3" (change)="chooseCurrency3($event)">
        <option *ngFor="let currency of currencies; " value={{currency.symbol}} >{{currency.symbol}} - {{currency.name}}</option>
      </select>
    </div>
  </div>
  <br>
  <div class="row break col-md-12">aktualna stawka ZŁOTY->{{chosenCurrency1}}: {{rateValue}}</div>

  <div class="row">
    <div class="col-md-12">
      <label for="date1" class="col-md-2"> Data początkowa:</label>
      <input id="date1" class="col-md-2" type="text" value={{startDate}} placeholder="2018-01-30">
    </div>
    <div class="col-md-12">
      <label for="date2" class="col-md-2"> Data końcowa:</label>
      <input id="date2" class="col-md-2" type="text" value={{endDate}} placeholder="2018-01-30">
    </div>
  </div>
  <div class="row radio">
    <button class="tn-block" (click)="getDifferenceForChosenPeriodOfTime()">Wyświetl różnice kupna</button>
  </div>
  <div class="break"> </div>
<input type="date" (change)="getDate($event)">
  <table class="table table-striped">
    <thead>
      <tr>
        <th> DATA </th>
        <th> CENA {{chosenCurrency1}} -> {{chosenCurrency2}}</th>
        <th> CENA {{chosenCurrency1}} -> {{chosenCurrency3}} </th>
        <th> ROŻNICA </th>
      </tr>
    </thead>
    <tbody *ngIf="result1.length!=0 && result2.length != 0 && resultDifference.length !=0">
      <ng-container *ngFor="let elem of result1, let i=index">
        <tr>
          <td> {{elem.time}} </td>
          <td> {{elem.rate}} </td>
          <td> {{result2[i].rate}} </td>
          <td> {{resultDifference[i].rate}} </td>
        </tr>
      </ng-container>
    </tbody>
  </table>





</div>
